<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mesh_macros">
    <xacro:macro name="link_with_mesh" 
    params="name  origin_xyz origin_rpy origin_inertia_xyz collision_xyz collision_rpy radius length meshfile mass ixx ixy ixz iyy iyz izz color">
        <link name="${name}">
            <inertial>
                <origin xyz="${origin_inertia_xyz}" rpy="${origin_rpy}"/>
                <mass value="${mass}"/>
                <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" 
                iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
            </inertial>
            <visual>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <geometry>
                  <mesh filename="${meshfile}" scale="1 1 1"/>
                </geometry>
                <material name="${color}"/>
            </visual>
            <collision>
                <origin xyz="${collision_xyz}" rpy="${collision_rpy}"/>
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

<xacro:macro name="finger_with_mesh" 
    params="name  origin_xyz origin_rpy origin_inertia_xyz meshfile mass ixx ixy ixz iyy iyz izz color">
        <link name="${name}">
            <inertial>
                <origin xyz="${origin_inertia_xyz}" rpy="${origin_rpy}"/>
                <mass value="${mass}"/>
                <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" 
                iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
            </inertial>
            <visual>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <geometry>
                  <mesh filename="${meshfile}" scale="1 1 1"/>
                </geometry>
                <material name="${color}"/>
            </visual>
            <collision>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <geometry>
                    <mesh filename="${meshfile}" scale="1 1 1"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="create_noa" params="name origin_rpy origin_xyz parent">
  <link name="${name}">
    <!--<visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>--> 
  </link>
  <joint name="Tool_${name}" type="fixed">
    <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
    <parent link="${parent}"/>
    <child link="${name}"/>
  </joint>
 </xacro:macro>

</robot>